# Игнорируем папки сборки и кэш Gradle (с косой чертой в конце, это важно!)
build/
.gradle/

# Игнорируем файлы IDE
.idea/
*.iml
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Секретные файлы (если будут)
*.key
.env